@font-face {
    font-family: "Bombe-STENCIL-NORMAL";
    src: url("STENCIL.woff");
}

body{
    font-family: Bombe-STENCIL-NORMAL;
    background-image: url(fond.jpg);
}

h1 {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.5);
    width: 300px;
    padding: 5px;
    margin: 0px;
    color: darkgreen;
}

table {
    background-color: rgba(211, 211, 211, 0.5);
    border-spacing: 8px;
    border-collapse: separate;
    text-align: center;
}

td{
    background-color: rgba(0, 100, 0, 0.5);
    font-size: 22px;
}

th{
    background-color: rgba(139, 0, 0, 0.5);
    font-size: 26px;
}

#aller{
    background-color: rgba(0, 0, 139, 0.5);
}

h3 {
    width: fit-content;
    background-color: rgba(211, 211, 211, 0.5);
    margin: 0px;
}

.centre {
    display: flex;
    justify-content: center;
}

a{
    color: white;
  }

a:visited{
    color: black;
  }

.compte {
    background-color: rgba(255, 140, 0, 0.5);
}

input {
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.17em;
    font-family: sans-serif;
}

input::placeholder
{
    color: darkgreen;
    font-style: italic;
}

input[type=submit] {
    font-family: Bombe-STENCIL-NORMAL;
    color: black;
    text-decoration: underline;
}

#pseudo {
    font-family: sans-serif;
    font-weight: bold;
}

#deconnexion {
    font-size: 1.17em;
    color: black;
    font-weight: bold;
}