@font-face {
    font-family: "Bombe-STENCIL-NORMAL";
    src: url("STENCIL.woff");
}

body{
    font-family: Bombe-STENCIL-NORMAL;
    background-image: url(fond.jpg);
}

h1 {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.5);
    width: 300px;
    padding: 5px;
    margin: 0px;
    color: darkgreen;
}

h3 {
    width: fit-content;
    background-color: rgba(211, 211, 211, 0.5);
    margin: 0px;
}

.centre {
    display: flex;
    justify-content: center;
}

.nouveau {
    background-color: rgba(139, 0, 139, 0.5);
}

input {
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.17em;
    font-family: sans-serif;
    width: 350px;
}

input::placeholder
{
    color: darkorange;
    font-style: italic;
}

input[type=submit] {
    font-family: Bombe-STENCIL-NORMAL;
    color: black;
    text-decoration: underline;
}

form {
    background-color: rgba(211, 211, 211, 0.5);
    padding: 5px;
}

#nouveau_niveau {
    background-color: rgba(139, 0, 0, 0.5);
}